db:
  hosts:
    db1:
      patroni_leader: yes
    db2:
      patroni_leader: no
  vars:
    ansible_user: root
    ansible_python_interpreter: /usr/bin/python3
    password:
      replicator: hunter2
      patroni: hunter2
      rewind: hunter2
