db:
  hosts:
    db1:
    db2:
    db3:
  vars:
    ansible_user: root
    ansible_python_interpreter: /usr/bin/python3
    password:
      replicator: hunter2
      patroni: hunter2
      rewind: hunter2
