scope: {{ patroni.config.scope }}
namespace: {{ patroni.config.namespace }}
name: {{ ansible_hostname }}

restapi:
  listen: {{ ansible_default_ipv4.address }}:8008
  connect_address: {{ ansible_default_ipv4.address }}:8008

raft:
  data_dir: {{ patroni.raft_dir }}
  self_addr: {{ ansible_default_ipv4.address }}:5010
{% if groups['db']|length == 1 %}
  partner_addrs: []
{% else %}
  partner_addrs:
{% for host in groups['db'] %}
{% if hostvars[host]['ansible_eth0']['ipv4']['address'] != ansible_default_ipv4.address %}
    - '{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:5010'
{% endif %}
{% endfor %}
{% endif %}

bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    postgresql:
      use_pg_rewind: true
  users:
    admin:
      password: admin
      options:
        - createrole
        - createdb
  pg_hba:
    - local   all             postgres                                peer
    - local   all             all                                     peer
    - host    all             all             127.0.0.1/32            md5
    - host    all             all             ::1/128                 md5
    - local   replication     all                                     peer
    - host    replication     all             127.0.0.1/32            md5
    - host    replication     all             ::1/128                 md5
{% for host in groups['db'] %}
    - host all patroni {{ hostvars[host]['inventory_hostname'] }}/32 md5
    - host replication replicator {{ hostvars[host]['inventory_hostname'] }}/32 md5
{% endfor %}

postgresql:
  listen: {{ ansible_default_ipv4.address }}:5432
  connect_address: {{ ansible_default_ipv4.address }}:5432
  data_dir: {{ postgres.data_dir }}
  bin_dir: {{ postgres.bin_dir }}
  config_dir: {{ postgres.config_dir }}
  pgpass: {{ patroni.config.postgresql.pgpass }}
  authentication:
    replication:
      username: replicator
      password: {{ password.replicator }}
    superuser:
      username: patroni
      password: {{ password.patroni }}
    rewind: # Has no effect on postgres 10 and lower
      username: rewind
      password: {{ password.rewind }}
  parameters:
    unix_socket_directories: {{ postgres.run_dir }}
{% if not patroni_leader %}
  basebackup:
    - verbose
    - max-rate: 100M
{% endif %}

tags:
  nofailover: false
  noloadbalance: false
  clonefrom: false
{% if patroni_leader %}
  nosync: false
{% endif %}
